
.home-container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-left: 16rem;
  margin-top: .5rem;

  .home-containerCarousel {
    width: 60rem;
    position: relative;

    .icone-anterior {
      font-size: xx-large;
    }

    .carousel-movieTitle {
      width: 100%;
      height: 100%;

      position: absolute;
      top: 20rem;
      left: 2rem;

      display: flex;
      flex-direction: column;

      span {
        color: white;
        font-size: xx-large;
        font-weight: 700;

        text-transform: uppercase;
      }

      button {
        text-transform: uppercase;
        font-size: medium;
        font-weight: bolder;

        border-radius: 25px;

        margin-top: .7rem;

        color: white;

        width: 15rem;
        height: 4rem;

        background-color: #AC1B1B;
        border: 0px;

        transition: background-color 0.5s ease;

        &:hover {
          background-color: white;
          border: 2px solid #AC1B1B;
          color: #AC1B1B;
        }
      }
    }

    img {
      border-radius: 25px;
    }
  }

  .home-containerMovieList {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    gap: 2rem;
    margin-top: 1rem;

    .home-movieList {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      img {
        max-width: 200px;
        min-width: 200px;
        min-height: 300px;

        border-radius: 25px 25px 0 0;
      }

      .home-movieListButton {
        height: 3rem;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;

        border-radius: 0 0 25px 25px;

        background-color: #AC1B1B;

        transition: background-color 0.5s ease;

        cursor: pointer;

        img {
          width: 100%;
        }

        a {
          color: white;
          text-decoration: none;

          font-size: medium;
          font-weight: bold;
        }

        &:hover {
          background-color: white;
          border: 2px solid #AC1B1B;

          a {
            color: #AC1B1B;
          }
        }
      }
    }
  }
}


