<!-- <div *ngIf="movieDetails">
  <h2>{{ movieDetails.title }}</h2>
  <p>Descrição: {{ movieDetails.overview }}</p>
  <p>Data de lançamento: {{ movieDetails.release_date }}</p>
  <p>Nota média: {{ movieDetails.vote_average }}</p>
  <img src="{{getImageUrl(movieDetails.poster_path)}}" alt="{{movieDetails.title}}">
</div> -->

<div class="home-container">
  <!-- Carousel -->
  <div class="home-containerCarousel">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let movie of randomMovies.slice(0, 4)">
        <ng-template carouselSlide [id]="movie.id">
          <img src="{{ getImageCarousel(movie.backdrop_path) }}" alt="{{ movie.title }}" />

          <div class="carousel-movieTitle">
            <span>{{movie.title}}</span>
            <button>Assista</button>
          </div>

        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>

  <!-- Lista de filmes -->
  <div class="home-containerMovieList">
    <div class="home-movieList" *ngFor="let movie of movies">
      <img src="{{ getImageUrl(movie.poster_path) }}" alt="{{ movie.title }}" />
      <div class="home-movieListButton">
        <a href="">Assista</a>
      </div>
    </div>
  </div>

</div>
