
<!-- <div *ngIf="movieDetails">
  <h2>{{ movieDetails.title }}</h2>
  <p>Descrição: {{ movieDetails.overview }}</p>
  <p>Data de lançamento: {{ movieDetails.release_date }}</p>
  <p>Nota média: {{ movieDetails.vote_average }}</p>
  <img src="{{getImageUrl(movieDetails.poster_path)}}" alt="{{movieDetails.title}}">
</div> -->

<div class="home-container">
  <div class="home-movieList" *ngFor="let movie of movies">
    <!-- <p>{{ movie.overview }}</p> -->
    <img src="{{getImageUrl(movie.poster_path)}}" alt="{{movie.title}}">

    <div class="home-movieListButton">
      <a href="">Assista</a>
    </div>

  </div>
</div>


