<div class="menuBar-container">
  <div class="menuBar-logo">
    <p>Movies <span>GO</span></p>
  </div>

  <div class="menuBar-menu">
    <span>MENU</span>
    <ul class="menuBar-list">
      <li class="menuBar-listItem">
        <a [routerLink]="['/']" [routerLinkActive]="['activated']" [routerLinkActiveOptions]="{exact: true}">
          <fa-icon [icon]="Home"></fa-icon>
          Home
        </a>
      </li>

      <li class="menuBar-listItem">
        <a href="">
          <fa-icon [icon]="Trending"></fa-icon>
          Tedência
        </a>
      </li>

      <li class="menuBar-listItem">
        <a href="">
          <fa-icon [icon]="Compass"></fa-icon>
          Procurar
        </a>
    </li>

      <li class="menuBar-listItem">
        <a href="">
          <fa-icon [icon]="Shuffle"></fa-icon>
          Mistério
        </a>
      </li>
    </ul>

    <hr>
  </div>
  <div class="menuBar-links">
    <ul class="menuBar-myLinks">
      <li class="menuBar-myLinksItemLinkedin">
        <a href="https://www.linkedin.com/in/joao--dias/" target="_blank">
          <fa-icon [icon]="Linkedin"></fa-icon>
          Linkedin
        </a>
      </li>
      <li class="menuBar-myLinksItemGithub">
        <a href="https://github.com/Joo-Dias" target="_blank">
          <fa-icon [icon]="Github"></fa-icon>
          Github
        </a>
      </li>
    </ul>
  </div>
</div>


