<div class="menuBar-container">
  <div class="menuBar-logo">
    <p>Movies <span>GO</span></p>
  </div>

  <div class="menuBar-menu">
    <span>MENU</span>
    <ul class="menuBar-list">
      <li class="menuBar-listItem">
        <i class="material-icons">trending_up</i>
        Tedência
      </li>

      <li class="menuBar-listItem">
        <i class="material-icons">explore </i>
        Procurar
    </li>

      <li class="menuBar-listItem">
        <i class="material-icons">shuffle</i>
        Mistério
      </li>
    </ul>

    <div class="menuBar-links">
      <ul class="menuBar-myLinks">
        <li>Linkedin</li>
        <li>Github</li>
      </ul>
    </div>
  </div>
</div>


