.menuBar-container {
  display: flex;
  flex-direction: column;

  border-right: .5px solid #313131b9;

  color: white;

  position: fixed;
  height: 100%;
  width: 16rem;
  top: 0;
  left: 0;

  .menuBar-logo {
    font-weight: bolder;
    font-size: larger;

    margin-top: 2rem;
    margin-left: 2rem;

    span {
      color: #AC1B1B;
    }
  }

  .menuBar-menu {
    margin-left: 1rem;
    margin-top: 1rem;

    span {
      font-weight: bold;
      color: #646468;
    }

    .menuBar-list {
      list-style: none;
      width: 100%;

      .menuBar-listItem {
        width: 80%;

        margin-top: 1rem;
        margin-bottom: 1rem;

        border-radius: 25px;

        transition: background-color 0.5s ease;

        &:hover {
          background-color: #AC1B1B;
        }

        a {
          display: flex;
          align-items: center;

          font-weight: bold;
          font-size: larger;
          text-decoration: none;
          color: white;

          padding: 1rem;

          fa-icon {
            margin-right: 1.5rem;
          }
        }
      }
    }

    hr {
      width: 90%;
      border-radius: 50%;
      border: .5px solid #313131b9;
    }
  }

  .menuBar-links {
    margin-left: 1rem;
    margin-top: 1rem;

    .menuBar-myLinks {
      list-style: none;
      width: 100%;

      .menuBar-myLinksItemLinkedin {
        width: 80%;

        margin-top: 1rem;
        margin-bottom: 1rem;

        border-radius: 25px;

        transition: background-color 0.5s ease;

        &:hover {
          background-color: #0A66C2;
        }

        a {
          display: flex;
          align-items: center;

          font-weight: bold;
          font-size: larger;
          text-decoration: none;
          color: white;

          padding: 1rem;

          fa-icon {
            margin-right: 1.5rem;
          }
        }
      }

      .menuBar-myLinksItemGithub {
        width: 80%;

        margin-top: 1rem;
        margin-bottom: 1rem;

        border-radius: 25px;

        transition: background-color 0.5s ease;

        &:hover {
          background-color: #22272E;
        }

        a {
          display: flex;
          align-items: center;

          font-weight: bold;
          font-size: larger;
          text-decoration: none;
          color: white;

          padding: 1rem;

          fa-icon {
            margin-right: 1.5rem;
          }
        }
      }
    }
  }
}

.activated {
  background-color: #AC1B1B;
  border-radius: 25px;

  transition: background-color 0.5s ease;

  &:hover {
    background-color: #941717;
  }
}
